---
- name: Ensure git is installed
  ansible.builtin.package:
    name: git
    state: present
  become: true

- name: Download github repository
  git:
    repo: https://github.com/SpecterOps/Nemesis
    dest: "{{ nemesis_install_dir }}"

- name: Set environment variable globally
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: '^TIKA_OCR_LANGUAGES='
    line: 'TIKA_OCR_LANGUAGES={{ tika_ocr_languages }}'
    create: yes
  become: true

- name: Copy env.example
  ansible.builtin.copy:
    src: "{{ nemesis_install_dir }}/env.example"
    dest: "{{ nemesis_install_dir }}/.env"
    remote_src: yes

- name: Define NEMESIS_PORT in .env file
  ansible.builtin.lineinfile:
    path: "{{ nemesis_install_dir }}/.env"
    line: "NEMESIS_PORT={{ nemesis_port }}"
    create: yes
    insertafter: EOF

- name: Start Nemesis
  command: ./tools/nemesis-ctl.sh start prod
  args:
    chdir: "{{ nemesis_install_dir }}"
  register: nemesis_start
  ignore_errors: true
